---
#Landing page for the website.

layout: page
---

<div class="title">
    <img  src="assets/images/title-img.jpg" alt="title background">
    <div class="title-text">
        <h1>Welcome!</h1>
        <h2>I am Muhd&nbsp;Assyarul, currently a Computer&nbsp;Science student at the National&nbsp;University&nbsp;of&nbsp;Singapore.</h2>
    </div>
</div>

<div class='landing-content'>   
    <section>
        <h1>Recent Blog Posts</h1>
        <div class="grid-container">
            {% for post in site.posts limit:3 %}
            <a href="{{post.url}}" class="link-box" style="background-image: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%), url({{post.cover}})">
                    <div class="post-title">{{post.title}}</div>
                    <div class="post-desc">{{post.excerpt|truncatewords:30}}</div>
            </a>
            {% endfor %}
        </div>
        <a href="/blog/" class="more-link"> Show All Blog Posts</a>
    </section>
        
    <section>
        <h1>Ongoing Projects</h1>
        <div class="grid-container">
            {% for project in site.data.projects limit:3%}
                <a href="{{project.link}}" class="link-box"style="background-image: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%), url({{project.img}})">
                    <div class="post-title">{{project.title}}</div>
                    <div class="post-desc">{{project.desc}}</div>
                </a>
            {% endfor %}
        </div>
        {% assign project-url = site.data.navigation[Project] %}
        <a href="/project/" class="more-link"> Show All Projects</a>
    </section>
</div>
