<footer>
    <div class="footer-content">
        <div class = "footer-item">
            <p>My Socials</p>
            <ul>
                <li><a href='#'>Linkedin</a></li>
                <li><a href='#'>Github</a></li>
            </ul>
        </div>
        <div class = "footer-item">
        </div>
        <div class = "footer-item">
        </div>
    </div>
    <div class= "footer-bottom">
        Menu Icons by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
</footer>