<footer>
    <div class="footer-content">
        <div class = "footer-item">
            <p>My Socials</p>
            <ul>
                <li class= "linkedin"><a href="{{site.linkedin}}" target="_blank" >{%include Icons/linkedin-icon.html %}</a></li>
                <li class= "github"><a href="{{site.github}}" target="_blank" >{%include Icons/github-icon.html %}</a></li>
            </ul>
        </div>
        <div class = "footer-item">
        </div>
        <div class = "footer-item">
        </div>
    </div>
    <div class= "footer-bottom">
        <div class="footer-bottom-content">
            <span>&copy; {{ 'now' | date: "%Y" }}, </span>
            <span>Menu Icons by <a target="_blank" href="https://icons8.com">Icons8</a></span>
            <span>Title Background Image by Sylvain Mauroux on Unsplash</span>
        </div>
    </div>
</footer>