<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{site.title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script defer src="/assets/js/swup.min.js"></script>
    <script defer src="/assets/js/script.js"></script>
    <link rel='stylesheet' type='text/css' media='screen' href='/assets/css/styles.css'>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Roboto&display=swap" rel="stylesheet">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.5/es5/startup.js">
    </script>
</head>