
<nav class='navbar'>
    <ul class='menu'>
        <li class= 'menu-item'>
            <a href="#">
                {% include /Icons/home-icon.html %}
                <span class ="link">Home</span>
            </a>
        </li>
        <li class= 'menu-item'>
            <a href="#">
                <span class ="link">Blog</span>
            </a>
        </li>
        <li class= 'menu-item'>
            <a href="#">
                <span class ="link">Projects</span>
            </a>
        </li>
        <li class= 'menu-item'>
            <a href="#">
                <span class ="link">About</span>
            </a>
        </li>
    </ul>
</nav>