<nav class='navbar'>
    <ul class='menu'>
        <li class= 'menu-item'>
            <a href="#" class="menu-link">
                <span>{% include /Icons/home-icon.html %}</span>
                <span class ="text-link">Home</span>
            </a>
        </li>
        <li class= 'menu-item'>
            <a href="#" class="menu-link">
                <span>{% include /Icons/blog-icon.html %}</span>
                <span class ="text-link">Blog</span>
            </a>
        </li>
        <li class= 'menu-item'>
            <a href="#" class="menu-link">
                <span>{% include /Icons/projects-icon.html %}</span>
                <span class ="text-link">Projects</span>
            </a>
        </li>
        <li class= 'menu-item'>
            <a href="#" class="menu-link">
                <span>{% include /Icons/about-icon.html %}</span>
                <span class ="text-link">About</span>
            </a>
        </li>
    </ul>
</nav>

