//font-related
$font-size: 16px;
$font-stack: "Times New Roman", Times, serif;
$text-color: black;

//color
$primary1: #85DCB1;
$primary2: #E8A87C;
$primary3: #C38D9E;
$primary4: #41B3A3;

$scrollbar-color: gray;
$scrolltrack-color: white;

//animation-related
$transition-speed: 200ms;


