$font-size: 16px;
$font-stack: "Times New Roman", Times, serif;
$primary: #85DCB1;
$secondary2: #E8A87C;
$secondary3: #C38D9E;
$secondary4: #41B3A3;
$text-color: white;

:root {
    font-size: 16px;
    font-family: $font-stack;
}



