//color-palette
$primary1: rgb(211, 199, 199);
$primary2: rgb(48, 46, 46);
$primary3: #C38D9E;
$primary4: #41B3A3;

//default font-related
$font-base: "Roboto", sans-serif;
$font-title: 'Arvo', Arial;
$font-size: 16px;
$text-color: black;

//default-settings
$background-color: $primary1;

//navbar
$navbar-color: $primary2;
$menu-color: $primary1;

//footer
$footer-color: $primary3;

//landing page
$title-text-color: white;
$title-text-size: 2.5vw;
$box-text-color: #fff;

//scrollbar
$scrollbar-color: gray;
$scrolltrack-color: white;

//animation-related
$transition-speed: 200ms;
$navbar-transition: 200ms;


