@use 'config';

footer {
    background-color: $primary3;
    position:absolute;
    bottom: 0;
    width:100%;
    height: 10rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight:bold;
    margin: 0 5px;

    ul{
        padding:0;
        margin:0;
        display: flex;
        align-content:center;
        list-style: none;
    }

    li {
        margin: 0 10px;
        filter: grayscale(150%) opacity(0.5);
    }

    li:hover{
        filter: grayscale(100%) opacity(1.0);
    }

}


.footer-bottom {
    position:absolute;
    background-color: $primary3;
    filter:brightness(0.7);
    bottom:0;
    width:100%;
    height:2rem;
}