.title{
    max-width: 100vw;
    position: relative;
    color: $title-text-color;
    text-overflow: ellipsis;
    overflow: hidden;
    img{
        width:100vw;
        object-fit: cover;
        object-position: 0 -50px;
    }


    .title-text{
        h1{
            margin-bottom: 20px;
        }
        position: absolute;
        font-size: $title-text-size;
        max-width:90%;
        top: 20%;
        margin-left: 30px;
        text-align:left;
    }
}

.landing-content{
    padding-left:10px;
}

section{
    padding: 1rem;
    margin-bottom: 20px;

    h1{
        margin:1.5rem 0;
    }
    .grid-container{
        display:grid;
        gap: 1rem;
        margin: 1rem 1rem;

        grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
        grid-auto-rows: 480px;
    }

    .more-link{
        margin: 10px;
        font-weight:bold;
        color:black;
        border: black solid;
        display: inline-block;
        padding: 15px 32px;
        text-decoration: none;
        text-align: centre;

        &:hover{
            color:white;
            background-color:black;
        }
    }

}



.link-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #353535;
    font-size:3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: $box-text-color;
    box-shadow: rgba(3,8,20, 1.0) , rgba(2,8,20,0.1) 0px 0.075rem, 0.175rem;
    height:100%;
    width:100%;
    opacity:0.9;
    border-radius: 4px;
    overflow: hidden;
    text-decoration: none;
    transition: transform $transition-speed;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .post-title{
        text-decoration: none;

    }
    .post-desc{
        padding:20px;
        font-size: 1.5rem;
        text-decoration: none;
        visibility: hidden;
        overflow: ellipsis;
    }

    &:hover {
        box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
        transform:  scale(1.1);
        opacity: 1;
        z-index: 1;

        .post-desc {
            visibility: visible;
        }

    }
}

.link-box-big{
    grid-row: span 2/auto;
    grid-column: span 2/auto;
}

.link-box-wide {
    grid-column: span 2/auto;
}