
.title{
    max-width: 100vw;
    position: relative;
    text-align: center;
    color: $title-text-colour;
    display: inline-block;
    text-overflow: ellipsis;

    img{
        max-width: 100%;
    }

    .title-text{
        position: absolute;
        font-size:3rem;
        max-width:90%;
        top: 20%;
        margin-left: 30px;
        text-align:left;
    }
}

section{
    padding: 0.5rem;
    margin-bottom: 20px;
    .grid-container{
        display:grid;
        gap: 1rem;
        padding:15px;

        grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
        grid-auto-rows: 480px;
    }

    .more-link{
        padding:1rem;
    }

}



.link-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #353535;
    font-size:3rem;
    color: #fff;
    box-shadow: rgba(3,8,20, 1.0) , rgba(2,8,20,0.1) 0px 0.075rem, 0.175rem;
    height:100%;
    width:100%;
    opacity:0.9;
    border-radius: 4px;
    overflow: hidden;
    text-decoration: none;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: transform $transition-speed;    

    .post-title{
        text-decoration: none;

    }
    .post-desc{
        padding:20px;
        font-size: 1.5rem;
        text-decoration: none;
        visibility: hidden;
    }

    &:hover {
        box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
        transform: translateY(-3px) scale(1.1);
        opacity: 1;

        .post-desc {
            visibility: visible;
        }

    }
}

.link-box-big{
    grid-row: span 2/auto;
    grid-column: span 2/auto;
}

.link-box-wide {
    grid-column: span 2/auto;
}