//default page layout. css
@use 'config';

:root {
    font-size: 16px;
}

body {
    font-family: $font-stack;
    background-color: $primary1;
    color: $text-color;
    margin: 0;
    padding: 0;

    .title{
        font-weight: bold;
        font-size: 50px;
    }

    &::-webkit-scrollbar {
        width:0.25rem
    }

    &::-webkit-scrollbar-track {
        background: $scrolltrack-color;
        
    }

    &::-webkit-scrollbar-thumb {
        background: $scrollbar-color;
        border-radius: 8px;
    }
}

.page-container {
    position: relative;
    min-height:100vh;
}

.content-wrap {
    padding-top:5rem;
    padding-bottom: 10rem;
}

main {
    margin-left: 5rem;
    margin-right:10rem;
    padding: 1rem;
}