//default page layout. css
@use 'config';

*{
    margin:0;
    padding:0;
}

body {
    font-family: $font-stack;
    background-color: $primary1;
    color: $text-color;
    margin: 0;
    padding: 0;
    font-size: $font-size;

    .title{
        font-weight: bold;
        font-size: 3rem;
    }

    &::-webkit-scrollbar {
        width:0.5rem
    }

    &::-webkit-scrollbar-track {
        background: $scrolltrack-color;
        
    }

    &::-webkit-scrollbar-thumb {
        background: $scrollbar-color;
        border-radius: 8px;
    }
}

.page-container {
    position: relative;
    min-height:100vh;
}

.content-wrap {
    padding-bottom: 10rem; // allow space for footer to be in the container.

}
