//default page layout. css
*{
    margin:0;
    padding:0;
}

body {
    font-family: $font-stack;
    background-color: $background-color;
    margin: 0;
    padding: 0;
    font-size: $font-size;

    &::-webkit-scrollbar {
        width:0.5rem
    }

    &::-webkit-scrollbar-track {
        background: $scrolltrack-color;
        
    }

    &::-webkit-scrollbar-thumb {
        background: $scrollbar-color;
        border-radius: 8px;
    }
}

.page-container {
    position: relative;
    min-height:100vh;
}

.content-wrap {
    padding-bottom: 10rem; // allow space for footer to be in the container.
    opacity:1;
    transition: 500ms;
}

html.is-animating .content-wrap{
    opacity:0;
}
