#post-container {
    margin: 30px 10%;
    .date {
        font-size: 0.9rem;
    }
    .post-content {
        margin: 20px;
        p {
            margin: 20px 10px;
        }
    }
}

div.highlight {
    margin: 10px;
    padding: 5px;
    background-color: $background-color;
    filter: brightness(0.9);
    border: 1px solid black;
    border-radius: 8px;
    overflow: auto;
}

pre.highlight {
    background-color: $background-color;

}